.about-story {
    padding-top: 120px;
    &__container {
        display: flex;
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }

    &__article {
        padding: 150px 64px 150px 0;
        width: 100%;
        @media(max-width: 768px) {
            padding: 0px;
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 32px;
    }

    &__paragraph {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__image {
        background-image: url('./img/img.jpg');
        width: 80%;
        min-height: 100%;
        @media(max-width: 768px) {
           display: none;
        }
    }
}
