.desert-gallery {
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        @media(max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        gap: 20px;
    }
    padding: 120px;
    @media (max-width: 767px) {
        padding: 60px 0;
    }
}
