.contact-info {
    padding: 80px 0;
    background-image: url('./img/map.jpg');
    background-size: cover;
    background-position: 0 0;
    &__container {
    }

    &__article {
        background-color: var(--blackColor);
        padding: 90px;
        width: 700px;
        @media (max-width: 767px) {
            width: 90%;
            margin: 0 auto;
            padding: 48px;
        }
    }

    &__paragraph {
    }
    &__section {
        margin-bottom: 30px;

    }
    &__title {

    }
}
